<!-- Html begins -->
<!doctype html>
<html>
        <!-- Header of the page Begins -->
<head>
	<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Title of The page -->
        <title>Henry's Subs</title>
        <!-- attaching the external javascript validation file -->
	<script src="validation.js"></script>
</head>
        <!-- Header of the page Ends -->
        <!-- Body of the page begins -->
<body>
         <!-- Heading of the Page -->
<h1 style="text-align: center;"><span style="color:#FF0000;"><strong>Mr. Sub</strong></span></h1>
